body {
    background-color: #FCFCFC;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif !important;

}

body[dir=rtl] > * {
    text-align: right;}

body[dir=ltr] > * {
    text-align: left; }

body[dir=ltr] .menu_new {
    position: relative;
    top: 90px;
    right: -250px;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    overflow-y: scroll;
}
body[dir=rtl] .menu_new {
    position: relative;
    top: 90px;
    left: -250px;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    overflow-y: scroll;
}

.menu_new .ico_close i {
    text-align: right;
    font-size: 18px;
    color: #5D368F;
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
}
.menu_new p {
    margin-top: 20px;
    text-transform: uppercase;
    color: #D9D9D9;
    font-weight: 500;
    text-align: right;
    padding-right: 40px;
}
.menu_new ul,li {
    list-style: none;
    text-align: right;
    padding: 0px;
}
.menu_new ul li {
    padding: 15px 0px;
    transition: all 1s ease;
    position: relative;
}

.menu_new .mob_block_users {
    display: none;
}
.menu_new .mob_block_users ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #5D368F;
}

.menu_new .current_page_item {
    background-color: rgba(93,54,143, 0.2);
    border-right: 4px solid #5D368F;
}
.menu_new .current_page_item a {
    color: #000000;
    text-decoration: none;
}
.menu_new ul li:hover {
    background-color: rgba(93,54,143, 0.2);
    border-right: 4px solid #5D368F;
}
.menu_new ul li a {
    color: #000000;
    font-size: 14px;
    padding-right: 40px;

}
.menu_new ul li a:hover {
    color: #000000;
    text-decoration: none;
}

/*  -----------   End Menu Destop   -----------*/
/*  -----------   End Header   --------------  */
.table {
    width: 100%;
    margin-top: 20px;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06);
}
.table_search {
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    background-color: #ffffff;
}
.mr-auto {
    margin: auto;
}
.add_new {
    margin: 45px 0px 31px 34px;
    padding: 21px 25px;
    background-color: #340D66;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
}
.add_new:hover {
    background-color: rgba(93,54,143, 0.2);
    color: #340D66;
}
.btn_download {
    margin: 20px 2px 20px 0px;
    padding: 8px 5px;
    background-color: #340D66;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
    line-height: 3;
    cursor: pointer;
    transition: all .3s ease;
    border: none;

}
.btn_download:hover {
    background-color: rgba(93,54,143, 0.2);
    color: #340D66;
}
.table_search .col-md-2 {
    padding: 0;
}
.ico_download {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ECECEC;
    float: right;
    /*transition: all .3s ease;*/
}

.btn_download:hover .ico_download {
    border: 1px solid #340D66;
}
.add_new i {
    margin: 0 10px;
}
.add_button{
    margin-top: 36px;
}
.project_list {
    color: #5D368F;
    font-size: 24px;
    padding: 0px 60px;
    margin: 33px 0px;
    text-align: right;
}
.float {

    text-align: right;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.table_search .col-md-5:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.table_search .col-md-10 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
body[dir=rtl] .delete {
    border-right: 1px solid #E4E4E4;
}
body[dir=ltr] .delete {
    border-left: 1px solid #E4E4E4;
}
.float .search {
    width: 310px;
    height: 50px;
    margin: 24px 0px;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.search_submit {
    display: inline;
    border: none;
    background-color: transparent;
}
.float i {
    padding: 10px 5px;
    cursor: pointer;
}
.float .search::placeholder {
    text-align: right;
}

.search_ico_bloc {
    float: right;
}
.search_ico_bloc i {
    font-size: 19px;
    margin: 39px 0px;
    float: right;

}

/*Start Destop Table*/
.table-th {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 0px;
    font-size: 12px;
    border-bottom: 1px solid #E1E1E1;
}
.table_info {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0px;
    border-bottom: 2px dashed #E1E1E1;
    transition: all .5s ease;
}
.table-block .table-th p {
    margin-top: 20px;
}
.table-block .table_info p {
    margin-top: 20px;
}
.table_info:hover {
    background-color: rgba(93,54,143, 0.2);
}

.table_info .delete i {
    font-size: 26px;
    color: #5D368F;
    transition: all .3s ease;
    cursor: pointer;
}
.table_info .delete i:before {
    padding: 10px;
    border-radius: 50%;
    transition: all .5s ease;
}
.table_info .delete i:hover:before {
    border: 1px solid #D04B4B;
}
.table_info .delete:hover i {
    color: #DF0000;
}
.table_info .delete.disabled i {
    color: #ccc;
    cursor: pointer;
}
.table_info .delete.published i {
    color: green;
    cursor: pointer;
}
.table_info .delete.published:hover i {
    color: #DF0000;
}
.table_info .delete.draft i {
    color: orange;
    cursor: auto;
}
.table_info .delete.draft i:hover:before {
    border: 1px solid green;
}
.table_info .delete.draft:hover i {
    color: green;
    cursor: pointer;
}
.table_info .delete.hold_donation i {
    color: #ff9007;
    cursor: pointer;
}
.table_info .delete.disabled i:before {
    padding: 10px;
    border-radius: 50%;
    transition: all .5s ease;
}
.table_info .delete.disabled i:hover:before {
    border: 0px;
}
.table_info .delete.hold_donation i:hover:before {
    border: 1px solid #ff9007;
}
.table_info .delete.disabled:hover i {
    color: #ccc;
}
.table_info .edit i {
    font-size: 26px;
    color: #5D368F;
    transition: all .3s ease;
    cursor: pointer;
}
.table_info .edit i:before {
    padding: 10px;
    border-radius: 50%;
    transition: all .5s ease;
}
.table_info .edit i:hover:before {
    border: 1px solid #71BC18;
}


.table_info .edit:hover i {
    color: #71BC18;
}
.table_info .curency p {
    margin: auto;
    width: 30%;
    height: 50%;
    background-color: #E5E5E5;
    border-radius: 5px;
    text-align: center;
    line-height: 2.4;
    margin-top: 20px;
}
/*End Destop Table*/

/*Start Mobile Table  */
.mobile_table {
    display: none;
}

.mobile_table {
    background-color: #fff;
    padding: 10px 0px;
    margin: 10px 0px;
}
.block_name {
    padding: 0px;
}
.mobile_table .block_name ul {
    list-style: none;
    padding: 0;
}
.mobile_table .block_name ul li {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

}
.block_info {
    padding: 0px;
}
.mobile_table .block_name ul li:nth-child(even) {
    background-color: #DFD8E5;
}
.mobile_table .block_info ul {
    list-style: none;
    padding: 0;
}
.mobile_table .block_info ul li {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.edit_mobile_table,
.delete_mobile_table {
    font-size: 15px;
}
.mobile_table .block_info ul li:nth-child(even) {
    background-color: #DFD8E5;
}
/*End Mobile Table*/


/*start navigator page  */
.navigation {
    margin: auto;
    padding: 10px 10px;

    text-align: center;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.navigation a {
    padding: 10px 10px;
    color: rgba(0,0,0, 0.15);
}
.navigation a:first-child {
    border-left: 1px solid #F4F4F4;
    color: black;
}
.navigation a:last-child {
    border-right: 1px solid #F4F4F4;
    color: black;
}
.navigation .current {
    color: black;
}
/*end navigator page*/


/*Style Burger Meny*/
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6.active .top {
    stroke-dashoffset: -132px;
}
.ham6.active .middle {
    stroke-dashoffset: -71px;
}
.ham6.active .bottom {
    stroke-dashoffset: -132px;
}
/*End Burger Meny*/
.titel-part {
    width: 100%;
    height: 80px;
    background-color: #5D368F;
    text-align: center;
    margin-top: 50px;
}
.titel-part h2 {
    color: white;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 3.5;
}
/*Start Form Regist Donot*/
.body-part {
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 25px 15px;
    margin: 0 auto;
}
.body-part .col-md-6 {
    margin: 20px 0px 0px 0px;
}
.body-part .rover {
    padding: 10px 50px 0px;
}
.edit_project .rover {
    padding: 5px;
}
.edit_project .checkboxer {
    padding: 5px;
}
.body-part .radio {
    padding: 10px 50px 50px;
}
.labled{
    padding: 0px 25px;
}
body[dir=rtl] .labled {
    text-align: right;
}
body[dir=ltr] .labled, body[dir=ltr] input, body[dir=ltr] textarea {
    text-align: left;
}

.labled p {
    font-size: 16px;
    font-weight: normal;
    color: black;
}
.inputer input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 30px;
    width: 100%;
    outline: none;
}
.inputer input::placeholder {
    color: rgba(0,0,0, 0.6);
    font-size: 14px;
    font-weight: 300;
}
.error-text {
    text-align: right;
    opacity: 0;
    height: 0;
}
.error-text p {
    color: red;
    font-size: 14px;
    transition: all .4s ease;
    padding: 0px 25px;
}
.rover.error .error-text{

    color: red;
    height: auto;
    opacity: 1;
}
.rover.valid .inputer input{
    border-color: green;
}
.rover.error .inputer input{
    border-color: red;
}
.submiter {
    padding: 30px 0px;
    text-align: center;
}
.submiter button {
    background-color: #71BC18;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;
    width: 235px;
    height: 55px;
    transition: all .4s ease;
    border: none;
    outline: none;
    cursor: pointer;
}
.submiter button:hover {
    background-color: rgb(113, 188, 24, 0.2);
    color: #71BC18;
}
.checkboxer .rover label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.checkboxer .beutify {
    width: 16px;
    height: 16px;
    transition: all 0.3s;
    border: 2px solid #6e6e6e;
    position: relative;
    overflow: hidden;
}

.checkboxer .beutify:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #6e6e6e;
    border-left: 2px solid #6e6e6e;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 2px;
    left: 1px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap .checkboxer input:checked ~ .beutify:before {
    opacity: 1;
}
/*End Form Regist Donor*/

/*Start PeyMent Page*/
.text_header_block {
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 140px;
}
.text_header_block p {
    font-size: 50px;
    font-weight: 300;
    color: #000000;
}
.verifiend {
    width: 207px;
    height: 35px;
    background-color: rgba(113, 188, 24, 0.15);
    margin: 0px !important;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verifiend p {
    margin-top: 12px;
    padding: 0px 10px;
    color: #4E901E;
}
.money-block {
    width: 100%;
    background-color: rgba(93, 54, 143, 0.03);
    min-height: 170px;
    display: flex;
    padding: 15px 30px 40px 30px;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}
.topper {
    text-align: center;
    padding: 40px 0px 0px 0px;
}
.conteiner-gifts .gift .topper {
    padding: 0px 0px 70px 0px;
}
.selectet_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    height: auto;
}
.selectet_input input {
    height: auto;
    width: 130px;
    border-bottom: 1px solid #5D368F;
    border-top: 1px solid #5D368F;
    border-right: 1px solid #5D368F;
    border-radius: 5px 5px 5px 0px;
    outline: none;
    padding: 10px;
}
.selectet_input select {
    height: auto;
    width: 70px;
}
.money-block .select2-container {
    height: auto;
    position: relative;
    left: 10px;
    outline: none;
}
.money-block .select2-container--default .select2-selection--single {
    height: 100%;
    border: 1px solid #5D368F;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
.money-block .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    margin-top: 11px;
}
.money-block .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    margin-top: 11px;
}
.inputer .select2-container--default .select2-selection--single, .inputer .select2-container--default .select2-selection--multiple {
    border-radius: 30px;
    height: 100%;
    border: 1px solid #DADADA;
}
.inputer .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__arrow{
    top: 10px;
    left: 20px;
}
.inputer .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered, .inputer .select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    padding-right: 25px;
    line-height: 50px;
    color: rgba(0,0,0, 0.6);
}
.inputer .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 20px;
}
.inputer .select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    padding-right: 25px;
    line-height: 25px;
    color: rgba(0,0,0, 0.6);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(93, 54, 143, 0.06);
    color: #5D368F;
    font-size: 14px;
}
.select2-results__option[aria-selected] {
    font-size: 14px;
    padding-right: 25px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 30px;
    overflow-x: hidden;
}
.select2-dropdown {
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06);
}
.selection_block {
    width: 100%;
    height: 50px;
}
.inputer .select2-container {
    height: 50px;
}
.inputer .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered, .inputer .select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    text-align: right;
}
body[dir='rtl'] .right_block_info {
    border-left: 2px dashed #BDBDBD;
}
body[dir='ltr'] .right_block_info {
    border-right: 2px dashed #BDBDBD;
}
body[dir='ltr'] .money-block .block-x2 .block-x2-bottom {
    flex-direction: row-reverse;
}
body[dir='ltr'] .money-block .block-x2 .block-x2-bottom .block-x2-prise span {
    padding: 0px 0px 0px 20px;
}
.selection_block_info {
    width: 100%;
}

.info_block_content .select2-container--default {
    width: 100% !important;
}

/*End PayMent Page*/




/*Tabs Block Start*/
.tabs_block {
    width: 70%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}
.tabs_btn {
    width: 25%;
    display: flex;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    border-radius: 10px 10px 0px 0px;
    /*transition: all .3s ease;*/
    font-size: 14px;
    color: #8B8B8B;
    cursor: pointer;
    position: relative;
    padding: 0px 20px;
}

.tabs_btn:hover {
    background-color: #F4F4F4;
}

.tabs_text {
    display: none;
}
.active_tab {
    background-color: #fff !important;
    color: #5D368F;
    /*transition: all .3s ease;*/
}

.active_tab:after {
    content: '';
    background-image: url("../images/corner_right.png");
    left: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 10px;
    z-index: 10;
    width: 35px;
    height: 41px;
    /*transition: all .3s ease;*/

}
.active_tab:before {
    content: '';
    background-image: url("../images/corner_left.png");
    right: 100%;
    width: 35px;
    height: 41px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 10px;
    z-index: 10;
    /*transition: all .3s ease;*/
}

.tabs_block_mobile {
    display: none;
}
.tabs_container_block_mobile {
    display: none;
}
.tabs_container_block .table_searh {
    background-color: #fff;
}
.tabs_container_block .table-block {
    background-color: #fff;
    margin-bottom: 50px;
}
.tabs_container_block .delete {
    border-right: none;
}
.add_content {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px 0px;
}
.btn_block_add_content {
    text-align: right;
    padding: 10px 70px;
}
.btn_content {
    background-color: #6E993C;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: all .3s ease;
    cursor: pointer;
    border: none;
}
.btn_content:hover {
    background-color: rgb(113, 188, 24, 0.2);
    color: #71BC18;
}
.add_content input, .add_content select{
    background-color: #F8F8F8;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    width: 70%;
    text-align: right;
}
.add_content textarea {
    background-color: #F8F8F8;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    width: 70%;
    text-align: right;
}
.add_content p {
    /*padding-left: 30px;*/
    text-align: center;
    line-height: 3.5;
}
.block_group {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06);
}
.two_input {
    width: 100%;
    display: flex;
    height: auto;
    padding: 10px 0px;
    justify-content: space-around;
}
.submiter i {
    float: right;
    position: relative;
    left: -20px;
    top: -8px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}
.tabs .submiter i {

    top: 5px;

}
.submiter button:hover i {
    background-color: #71BC18;
    color: #fff;
}
.info_block_content .submiter button {
    line-height: 3.5;
}
.info_block_content {
    background-color: #fff;
    padding: 40px 0px;
}
.add_content .organizator {
    margin-right: 0px;
}
.btn_delete_content {
    text-align: center;
    padding-top: 15px;
}

.single-currency .body-part{
    background-color: #f6f6f6;
}
.single-currency .checkboxer .rover{
    margin: 0 10px;
}
/*Tabs Block End*/


/* ------ Footer Start ------- */
.footer_top_block {
    border-bottom: 1px solid #D2D2D2;
    padding: 20px 0px 5px 0px;

}
.contact_btn_footer {
    border: 3px solid #5D368F;
    background-color: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 7px 25px;
    color: black;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
}
.contact_btn_footer:hover {
    background-color: rgba(93, 54, 143, 0.6);
    color: #ffffff;
}
.footer_donate {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: black;
    line-height: 2.7;
}
.footer_donate:hover {
    color: black;
    text-decoration: none;
}
.footer_top_block ul {
    margin-top: 8px;
    text-align: center;
}
.footer_top_block ul li {
    display: inline-block;
    list-style: none;
}
.footer_top_block ul li a {
    color: silver;
    text-align: center;
}
.footer_top_block ul li a i {
    font-size: 30px;
}
.givstar_on_facabook {
    border: 3px solid #3B5998;
    background-color: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 7px 58px;
    color: #3B5998;
    font-size: 16px;
    letter-spacing: 1.1px;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
}
.givstar_on_facabook:hover {
    background-color: rgba(59, 89, 152, 0.2);;
    color: #3B5998;
}

.givstar_on_facabook i {
    position: relative;
    left: 33px;
}
.footer_bottom p {
    font-size: 16px;
    font-weight: 300;
    color: #888888;
    text-transform: uppercase;
    padding: 20px 0px;
    text-align: center;
}
.ssl {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ssl .icons img {
    margin-top: -5px;
}
.after-text {
    font-size: 16px;
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
}
.after-button p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
.after {
    display: flex;
}
.footer_credit_cart p {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.radio label {
    font-size: 14px;
    font-weight: 300;
}
.radio input[type=radio]:checked + label:before {
    color: #5D368F;
    font-size: 40px;
    text-align: center;
    line-height: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.radio label:before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #E2E2E2;
    /*border-radius: 50%;*/
}
.money-block .checkboxer .rover label {
    justify-content: center;
}
.money-block .choose-month {
    text-align: center;
}
.valute-selector .select2-container--default {
    width: 100px !important;
}
.valute-selector .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    top: 1px;
}
.valute-selector .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
}
.valute-selector {
    width: 100px;
    margin: 0 auto;
}
.money-block .checkboxer .rover {
    display: flex;
    justify-content: center;
}
/*.radio input[type=radio]:checked + label:before {*/
    /*font-size: 40px;*/
    /*line-height: 16px;*/
/*}*/
/* ------ Footer End   ------- */

/*table start*/
table {
    width: 100%;

}

table th {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
table th, table td {
    padding: 20px 0px !important;
    text-align: center;
    vertical-align: baseline !important;
}
/*table end*/
@media screen and (max-width: 1800px){
    header .logo-part {
        width: 30%;
    }
    .nav_content {
        width: 70%;
    }
    /*header .navigate-part {*/
        /*width: 19%;*/
    /*}*/

}
@media screen and (max-width: 1430px){
    .logo img {
        width: 206px;
        height: 41px;
    }
    header .logo-part {
        width: 41%;
    }
    /*header .navigate-part {*/
        /*width: 23%;*/
    /*}*/
}
@media screen and (max-width: 1198px){
    .project_list {
        padding: 0;
    }
    .float .search {
        width: 250px;
    }
    .navigation {
        width: 25%;
    }
    .footer_donate {
        font-size: 14px;
    }
    .footer_top_block ul {
        margin: 0px;
        text-align: left;
    }
    .givstar_on_facabook {
        padding: 7px 20px;
        font-size: 14px;
    }
    .givstar_on_facabook i {
        left: 12px;
    }
}
@media screen and (max-width: 1045px){
    .logo img {
        margin-right: 10px;
        width: 176px;
        height: 32px;
    }
    header .logo-part {
        width: 30%;
    }
    header .navigate-part {
        /*width: 33%;*/
        justify-content: flex-end;
    }
    .tabs_block {
        width: 90%;
    }
}
@media screen and (max-width: 992px){
    .float .search {
        width: 168px;
    }
    .table_info .curency p {
        width: 100%;
    }


    .navigation {
        width: 35%;
    }
    header .header_log_btn {
        display: none;
    }
    .organizator {
        display: none;
    }
    header .logo-part {
        width: 45%;
    }
    header .heder_ico {
        width: 10%;
        justify-content: flex-end;
    }
    header .navigate-part {
        justify-content: flex-end;
    }
    .menu_new .mob_block_users {
        display: block;
    }
    .donat {
        text-align: center;
    }
    .btn_contact {
        margin-top: 20px;
    }
    .btb_on_fb {
        margin-top: 10px;
    }
    .footer_top_block ul {
        padding: 0px;
    }
    .tabs_block {
        width: 100%;
    }
    .two_input input {
        width: 90%;
        padding:10px 0px 10px 10px;
    }
    .add_new {
        padding: 19px 20px;
    }
    .btn_download i {
        display: none;
    }
    .add_new i {
        display: none;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;

    }
    table th, table td {
        padding: 0px 10px !important;
    }


}
@media screen and (max-width: 767px) {
    .right_block_info{
        border-right: none !important;
        border-left: none !important;
        border-bottom: 2px dashed #BDBDBD;
    }
    .body-part .rover{
        padding: 5px 0;
    }
    .project_list {
        text-align: center;
        margin: 15px 0px 0px;
    }
    .search_ico_bloc {
        display: none;
    }
    .float {
        text-align: center;
        padding: 0px;
    }
    .float .search {
        margin: 0px;
        width: 80%;
    }
    .table_searh .col-md-4 {
        text-align: center;
    }
    .btb_on_fb {
        text-align: center;
    }
    .pay {
        text-align: center;
        padding: 10px 0px;
    }
    .donat {
        text-align: center;
        padding: 10px 0px;
    }
    .btn_contact {
        text-align: center;
        padding: 10px 0px;
    }
    .footer_top_block ul {
        text-align: center;
        padding: 0px;
    }
    .navigation {
        width: 70%;;
    }
    .right_block_info {
        border-left: none;
        padding-bottom: 10px;
    }
    .btn_download {
        width: 50%;
        /*margin: 0px;*/
    }
    .add_new {
        width: 50%;
        margin: 0px 0px 10px 0px;
    }
    .table_searh .col-md-2 {
        text-align: center;
    }


}
@media screen and (max-width: 460px) {

    body[dir=rtl] .menu_new {
        width: 100%;
        background-color: #F9F9F9;
        left: 0px;
    }
    body[dir=ltr] .menu_new {
        width: 100%;
        background-color: #F9F9F9;
        right: 0px;
    }
    .flag ul li a {
        display: none;
    }
    .ico_close {
        display: none;
    }
    header .navigate-part {
        width: 30%;
    }
    header .siders {
        min-height: 70px;
    }
    .mob_block_users {
        background-color: #fff;
    }
    .ham {
        display: block;
    }
    .heder_ico i {
        display: none;
    }
    body[dir=rtl] .menu_new {
        top: 90px;
    }
    body[dir=ltr] .menu_new {
        top: 90px;
    }
    body[dir=ltr] .menu_wrapper_new {
        width: 100%;
        top: -100%;
        transition: all 1s ease;
        display: block;
    }
    .settings {
        margin-bottom: 25px;
    }
    header .logo-part {
        order: 3;
        width: 60%;
        margin-left: 45px;
        display: none;
    }
    header .navigate-part {
        order: 2;
        justify-content: flex-start;
    }
    header .heder_ico {
        order: 3;
        width: 15%;
    }
    .flag ul li img {
        margin-left: 10px;
        position: relative;
        top: -7px;
        left: 8px;
    }
    .tabs_block {
        overflow-x: scroll;
    }
    .tabs_btn {
        width: 160px;
    }
    .btn_download i {
        display: block;
    }
    .add_new i {
        display: block;
    }
    .add_content {
        text-align: center;
    }
    .btn_block_add_content {
        padding: 0px;
        text-align: center;
    }
    .add_content input {
        margin-top: 10px;
    }
    .nav_content {
        width: 100%;
    }
    .table_search .col-md-10 {
        text-align: center;
    }
    .table_info .edit i {
        font-size: 14px;
    }
    .table_info .delete i {
        font-size: 14px;
    }
    .edit {
        padding: 0px 10px !important;
    }
}
@media screen and (max-width: 320px) {
    .navigation {
        width: 75%;
    }
}

